.Results {
	width: 100%;
	margin-top: 24px;
}

.Results__header {
	width: 100%;
	height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Results__word-info {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Results__word {
	font-family: var(--ff-selected);
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
}

.Results__word-phonetic {
	color: var(--primary);
	font-family: var(--ff-selected);
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}

.Results__audio {
	width: 48px;
	height: 48px;
	color: var(--primary);
	cursor: pointer;
}

.Results__audio:active {
	transform: scale(0.95);
}

.Results__audio--disabled {
	opacity: 0.5;
	pointer-events: none;
}

.Results__audio svg {
	width: 100%;
	height: 100%;
}

.Results__audio svg circle {
	opacity: 0.25;
}

.Results__audio:hover svg circle {
	opacity: 1;
}

.Results__audio:hover svg path {
	fill: var(--white);
}

.Results__horizontal-line {
	width: 100%;
	height: 1px;
	display: block;
	margin-top: 32px;
	margin-bottom: 24px;
	background-color: var(--lightgrey);
}

:root[data-theme='dark'] .Results__horizontal-line {
	background-color: var(--darkgrey);
}

.Results__footer-info {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 8px;
}

.Results__footer-heading,
.Results__footer-source-url {
	font-family: var(--ff-selected);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}

.Results__footer-heading {
	color: var(--grey);
}

.Results__footer-source-url {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--dark);
	overflow: hidden;
	text-decoration-line: underline;
	text-decoration-thickness: 6px;
}

:root[data-theme='dark'] .Results__footer-source-url {
	color: var(--white);
	text-decoration-color: var(--grey);
}

.Results__footer-source-url svg {
	width: 12px;
	height: 12px;
	color: var(--grey);
}

@media (min-width: 768px) {
	.Results {
		margin-top: 44px;
	}

	.Results__header {
		height: 116px;
	}

	.Results__word {
		font-size: 64px;
	}

	.Results__word-phonetic {
		font-size: 24px;
	}

	.Results__audio {
		width: 74px;
		height: 74px;
	}

	.Results__horizontal-line {
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.Results__footer-info {
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}
}
