.Header {
	width: 100%;
	height: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
}

.Header__logo {
	height: 100%;
}

.Header__logo img {
	height: 100%;
}

.Header__controls {
}
